@font-face {
    font-family: Inter-Variable;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: Inter-Variable;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 0.8rem;
    margin: 4rem 0 0 0;
}

nav a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

nav li:first-child{
    margin: 0 auto 0 8rem;
}

nav li:nth-child(6){
    margin: 0 8rem 0 0;
}

.main-content{
    /* border: 2px solid green; */
    padding: 3rem 8rem ;
}

.hero-text{
    /* border: 2px solid rgb(160, 47, 6); */
    display: grid;
    grid-template-columns: 0.7fr 1.5fr;
    gap: 11rem;
    padding: 1rem 0 0 0;
}

.hero-text h1{
    /* border: 2px solid rgb(214, 80, 255); */
    font-size: 2rem;
    font-weight: 800;
    margin: -0.1rem 0 0 0;
}

.hero-text p{
    /* border: 2px solid rgb(130, 255, 80); */
    /* font-size: 0.9rem; */
    color: hsl(36, 2%, 49%);
    gap: 9rem;
}
.hero-section img{
    max-width: 100%;
}

.hero-section{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1.3fr 0.6fr;
    gap: 1.8rem;
}

aside{
    background: hsl(240, 100%, 5%);
    color: white;
    /* border: 2px solid red; */
    padding: 0 2rem 0 2rem;
    margin: 0 0 0 1rem;
}

aside p{
    font-size: 0.9rem;
    color: hsl(36, 2%, 49%); 
}

aside h2{
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
}

.aside-line{
    border: 1px solid hsl(36, 2%, 49%);
    margin:  2rem 0 2rem 0;
}

article{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 4rem 0 0 0;
    gap: 2rem;
    /* border: 2px solid salmon; */
}

.article-layout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 2px solid teal; */
    align-items: center;
    gap: 1rem;
}

.article-layout img{
    width: 100%;
    /* border: 2px solid brown; */
}

/* .article-detail{
    border: 2px solid saddlebrown;
} */

.article-num{
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(36, 2%, 49%);
    margin: 0 0 0.5rem 0;
}

.article-title{
    /* border: 2px solid blue; */
    font-size: 1.1rem;
    /* padding: -500rem 0 500rem 0; */
    margin: 0 0 3rem 0;
}

.article-preview{
    /* border: 2px solid yellow; */
    font-size: 0.8rem;
    color: hsl(36, 2%, 49%);
    width: 80%;
    margin:  -2rem 0 0 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }